git+https://github.com/prashantsahlot/FrozenGram.git
pytgcalls>=0.9.0
yt-dlp
aiohttp
flask
Flask-RESTful
tgcrypto
ffmpeg-python
isodate
pillow
psutil
requests
python-dotenv
asyncpg
pymongo
aiofiles
gender-guesser
